
body {
  background-color: gold; /* changed background color */
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: purple;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius:50px /* changed my walker into a sphere and altered its color */
   /* left: 100px;   /* Uncomment if you want to set a "starting" position */
  /* top: 100px;    /* Uncomment if you want to set a "starting" position */
}

